body {
    font-family: 'Arial', sans-serif;
    font-size: medium;
    margin: 0;
    background-color: #ffebee; 
}

.resume {
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

@media (max-width: 960px) {
    .fotografia img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 768px) {
    .resume {
        padding: 10px;
    }
    header, footer {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: small;
    }
}
